@page
@model RPGWizard1.Pages.Wizard.RaceModel

@{
    ViewData["Title"] = "Race";
}

<h1>Pick Your Race</h1>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
